.p-contact__section-title {
  margin-bottom: 2.4rem;
}

.p-contact__read-text { 
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.p-contact__wrap {
  display: flex;
  justify-content: space-between;
}


.p-contact__twitter {
  width: 16rem;
  display: inline-block;
  padding: 1rem 2rem;
  border: solid 2px;
  text-align: center;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #036ED9, #6078EA);
}

.p-contact__instagram {
  width: 16rem;
  display: inline-block;
  padding: 1rem 2rem;
  border: solid 2px;
  text-align: center;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
