.p-footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 4rem;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

.p-footer__copyright {
  font-size: 1rem;
}

.p-footer__image {
  width: 2.8rem;
}