.c-content-width {
  width: 90vw;
  margin: 0 auto;
}

.c-font-hide {
  font-family: 'Hind', sans-serif;
}

.c-read-text-color {
  color: #555555;
}

.c-section-padding {
  padding-top: 6.4rem;
}

.c-section-title {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

.c-section-title__decoration {
  font-size: 1.2rem;
}

.c-border-line--white {
  display: inline-block;
  width: 3.2rem;
  margin-bottom: 1.25rem;
  border-bottom: solid 1px white;
}

.c-border-line--black {
  display: inline-block;
  width: 3.2rem;
  margin-bottom: 1.25rem;
  border-bottom: solid 2px #555555;
}

.c-more-button__wrap {
  display: flex;
  justify-content: flex-end;
}

.c-more-button {
  display: flex;
  align-items: center;
}

.c-more-button__text {
  display: block;
  font-size: 1.2rem;
}

.c-more-button__arrow {
  position: relative;
  width: 8rem;
  margin-left: 1.6rem;
  border-bottom: solid 1px #555555;
  &::after {
    content: "";
    display: block;
    width: 0.8rem;
    border-bottom: solid 1px #555555;
    transform: rotate(45deg);
    position: absolute;
    right: -1px;
    top: -3px;
  }
}