<header>
  <h1 class="header__site-name font-hide">CatEye.note</h1>
  <ul class="header__nav">
    <li class="header__nav-menu font-hide"><a href="#">About</a></li>
    <li class="header__nav-menu font-hide"><a href="#">News</a></li>
    <li class="header__nav-menu font-hide"><a hre="#">Site</a></li>
    <li class="header__nav-menu font-hide"><a href="#">Photo</a></li>
    <li class="header__nav-menu font-hide"><a href="#">Contact</a></li>
  </ul>
</header>