<header>
  <ul class="header-navi">
    <li class="header-nav-menu"><a href="#">About</a></li>
    <li class="header-nav-menu"><a href="#">News</a></li>
    <li class="header-nav-menu"><a href="#">Site</a></li>
    <li class="header-nav-menu"><a href="#">Photo</a></li>
    <li class="header-nav-menu"><a href="#">Contact</a></li>
  </ul>
</header>