/* palette */
$MainColor: #000000;
$SubColor: #000000;
$AccentColor: #000000;
$CvColor: #000000;
/* ------- */

html {
  font-size: 62.5%
}

body {
  font-size: 1.6rem;
  font-family: "Hiragino Kaku Gothic ProN","meiryo", sans-serif;
}

.font-hide {
  font-family: 'Hind', sans-serif;
}